       @section Css{
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

       }
       @model BlogListModel

       @{
         var comments = (List<CommentListModel>)ViewBag.Comments;

          void GetComments(List<CommentListModel> comments){ 

          if(comments.Count>0){
          foreach (var comment in comments)
          {
        <div class="media my-3">
          <img class="d-flex mr-3 rounded-circle" style="height:100px;" src="/images/anonim.png" alt="">
          <div class="media-body">
            <h5 class="mt-0">@comment.AuthorName</h5>
              <p style="font-size : 0.75rem; " ><i class="far fa-clock mr-2"></i>@comment.PostedTime</p>
             @comment.Description 

            
             <button type="button" style="font-size: 16px;background-color: #ff273c;border: none;" class="btn btn-sm btn-primary float-right" onclick="showCommentForm(@comment.Id,@Model.Id)" >Cevapla</button>
             <div id="commentBox@(comment.Id)">

             </div>

             @{
               GetComments(comment.SubComments);
               }
           
          </div>
        </div>
          }
         
        }

            
            }
       }
  

           <div class="col-sm-6 col-md-12">
                    <div class="post-card -full -center">
                      <a style="justify-content: center;align-items: center;" class="card__cover">
                        <getblogimage  id="@Model.Id" blog-image-type="@BlogImageType.BlogDetail"></getblogimage>
                      </a>
                      <div class="card__content">
                        <!-- Content Category -->
                        <h5 class="card__content-category">Samet İrkören</h5>
                        <!-- Content Heading -->
                          <a class="card__content-title">@Model.Title</a>
                        <div class="card__content-info">
                          <!-- Content Author -->
                        
                          <!-- Content Time and Date -->
                          <div class="info__time"><i class="far fa-clock"></i>
                            <p>@Model.PostedTime.ToLongDateString()</p>
                          </div>
                        
                        </div>
                        <!-- post Description -->
                        <p class="card__content-description">  @Html.Raw(Model.Description)</p>
                       
                      </div>
                    </div>
              </div>

       <div style="width:100%" class="post-footer__comment">
                    
                    <div class="post-footer__comment__detail">

                    <!-- comment Form -->
                    <h3 style="font-size:1.5rem; text-align:center;margin-bottom : 1rem;" class="comment-title"> <span>Yorum Yazınız</span></h3>
                    <div class="post-footer__comment__form">
                      <form  method="POST" action="/Home/AddToComment">
                       <input type="hidden" name="BlogId" value="@Model.Id">
                        <div class="row">
                          <div class="col-12 col-sm-6">
                            <input type="text" placeholder="Adınız" name="AuthorName">
                          </div>
                          <div class="col-12 col-sm-6">
                            <input type="email" placeholder="Email Adresiniz" name="AuthorEmail">
                          </div>
                         
                        </div>
                        <textarea cols="30" rows="5" placeholder="Mesajınız" name="Description"></textarea>
                         <div style="text-align:center;">
                         <button  type="submit" class="btn danger" style="color:white ; background-color: #ff273c;">Gönder</button></div>
                      </form>
                      <div class="center">
                       
                      </div>
                    </div>
                  </div>


        <!-- Comment with nested comments -->
  @{
    GetComments(comments);
  }

  @section JavaScript{

    <script>
      function showCommentForm(id,blogId){
        let html = ` <h3 style="font-size:1.5rem; text-align:center;margin-bottom : 1rem;" class="comment-title"> <span>Yorum Yazınız</span></h3> <div class="post-footer__comment__form"> <form method="POST" action="/Home/AddToComment"> <input type="hidden" name="BlogId" value="@Model.Id"> <input type="hidden" name="ParentCommentId" value="${id}"> <div class="row"> <div class="col-12 col-sm-6"> <input type="text" placeholder="Adınız" name="AuthorName"> </div><div class="col-12 col-sm-6"> <input type="email" placeholder="Email Adresiniz" name="AuthorEmail"> </div></div><textarea cols="30" rows="5" placeholder="Mesajınız" name="Description"></textarea> <div style="text-align:center;"> <button class="btn btn-danger" style="color:white;background-color:#ff273c" type="submit" >Gönder</button> <button type="button" onclick="hideCommentForm(${id})" class="btn -normal" style="background-color : #BEBEBE">Vazgeç</button> </div></form> <div class="center"> </div></div></div>`;
        $("#commentBox"+id).html(html);
      }

      function hideCommentForm(id){
            $("#commentBox"+id).html("");
      }
    </script>
  }


